{% extends 'core/base.html' %}
{% load static %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen">
  <img src="{% static 'images/error.gif' %}" alt="Error" class="w-40 h-40 mb-6">
  <h1 class="text-3xl font-semibold mb-4">{{ error_message }}</h1>
  <p class="text-gray-600 mb-8">Oops! Looks like something went wrong.</p>
  <a href="{% url 'item:items' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Go Back to Search
  </a>
</div>
{% endblock %}
