:root {
}

.header {
  background-color:#01579b;
  color:#fff;
  padding:10px;
  text-align:center;
  border-bottom: 2px solid #34a8eb;
  border-radius: 30px;
  box-shadow: 20px;
}

.header:hover {
  background-color:#34a8eb;
  color:#fff;
  padding:10px;
  text-align:center;
  border-bottom: 2px solid #015;
  border-radius: 30px;
  box-shadow: 20px;
  transition: 0 3s;
}

.header a {
  color:#fff;
  text-decoration:none;
}

.header a:hover {
  color:#ca8080;
  text-decoration:none;
}

