{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  Admin Login
{% endblock %}

{% block content %}
  <h2 class='admin-login'>Admin Login</h2>
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <button type="submit">Login</button>
  </form>
{% endblock %}
