{% extends 'core/base.html' %}
{% load static %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div class="px-6 py-12 mt-6 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">
  <span class="typewriter-text">Trending Accessories 🔥🔥🔥!</span></h2>

  {% if items %}
    <!-- Debug statement -->
    <p>Number of accessories: {{ items|length }}</p>
  {% else %}
    <p>No accessories available.</p>
  {% endif %}

  <div class="grid grid-cols-3 gap-3">
    {% for item in items %}
      <div>
        <a href="{% url 'item:detail' item.id %}">
          <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-32 h-32 mb-4 rounded-full">
          <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{ item.name }}</h2>
          <p class="text-black-100">Price: {{ item.price }}EUR</p>
          </div>
        </a>

      </div>
    {% endfor %}
  </div>
</div>

<div class="px-6 py-12 mt-6 bg-gray100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Categories</h2>

  <div class="grid grid-cols-3 gap-3">
    {% for category in categories %}
      <div>
        <a href="#"></a>
        <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{ category.name }}</h2>
          <p class="text-gray-500">{{ category.items.count }} items </p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="py-4">
    <div class="pagination">
      <span class="step-links">
        {% if items.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
          Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
          <a href="?page={{ items.next_page_number }}">next</a>
          <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}
