
{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="w-1/2 my-6 p-12 mx-auto bg-gray-100 rounded-xl">
  <h1 class="mb-6 text-3xl">Sign Up</h1>
  <form method="post" action=".">
    {% csrf_token %}

    <div class="mb-4">
      <label for="id_username" class="block mb-2 font-semibold">Username</label>
      {{ form.username }}
    </div>
    <div class="mb-4">
      <label for="id_email" class="block mb-2 font-semibold">Email</label>
      {{ form.email }}
    </div>
    <div class="mb-4">
      <label for="id_password1" class="block mb-2 font-semibold">Password</label>
      {{ form.password1 }}
    </div>
    <div class="mb-6">
      <label for="id_password2" class="block mb-2 font-semibold">Confirm Password</label>
      {{ form.password2 }}
    </div>

    {% if form.errors or form.non_field_errors %}

    <div class="mb-4 p-4 bg-red-100 text-red-700 border border-red-400 rounded">
      <h2 class="mb-2 font-semibold">Error</h2>
      <ul>
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    {% endif %}

    <button type="submit" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign Up</button>
  </form>
</div>
{% endblock %}
